name: Deploy Laravel App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: SSH Deploy
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SSH_KEY }}
        port: ${{ secrets.SSH_PORT }}
        script: |
            cd /var/www/cicd_dinamis
            php artisan down
            git pull origin main
            composer install --no-interaction --prefer-dist --optimize-autoloader
            php artisan test
            php artisan optimize:clear
            php artisan optimize
            php artisan up
